@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --background-secondary: 0 0% 7%;
    --border: 0 0% 11%;
    --text: 0 0% 97%;
    --text-secondary: 0 0% 74%;
    --accent: 156 100% 43%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Background pattern */
  body {
    @apply bg-background text-text;
    font-feature-settings: "rlig" 1, "calt" 1;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    position: relative;
  }

  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, #111113 0%, transparent 70%),
      linear-gradient(to bottom right, #0a0a0b 0%, #111113 100%);
    z-index: -2;
  }

  body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: radial-gradient(#ffffff20 1.5px, transparent 1.5px);
    background-size: 50px 50px;
    mask-image: radial-gradient(ellipse at center, black 0%, transparent 70%);
    z-index: -1;
  }
}

@layer utilities {
  /* Hide scrollbar but maintain functionality */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

#about {
  scroll-margin-top: 80px;
}
